<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>
    <script src="assets/js/api/echarts.js"></script>
    <script src="assets/js/api/jquery-1.11.1.js"></script>
    <script src="assets/js/stat/FileSaver.js"></script>
    <script src="assets/js/stat/jquery.wordexport.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/css/stat/stat.css">
</head>
<body>
<div class="header">
    <h1>网页头nav</h1></br>
    <a href="javascript:void(0)" class="export_js" onclick="exportWord()">js直接导出页面(目前图片导不出，而且格式不太对)</a>
</div>
<div class="main_body">
    <div>
        <h1>柱状图</h1>
    </div>
    <div class="description">
        <p class="desc">
            这是一段描述：PROPAGATION_REQUIRES_NEW 启动一个新的, 不依赖于环境的 "内部" 事务.
            这个事务将被完全 commited 或 rolled back 而不依赖于外部事务, 它拥有自己的隔离范围,
            自己的锁, 等等. 当内部事务开始执行时, 外部事务将被挂起, 内务事务结束时,
            外部事务将继续执行.
        </p>
    </div>
    <div id="map" style="width: 1000px;height: 500px;">
    </div>
    <div>
        <input class="export" type="button" value="导出">
    </div>
    <p id="message">采用模板方式导出word文档，目前是最符合需求的！！！！</p>
</div>
<div class="footer">
    <label>@聚光科技 17681885688</label>
</div>
<script src="assets/js/stat/stat.js"></script>
</body>
</html>